.NavBarr {
  background-color: #282c34;
  min-height: 1vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
  margin-bottom: 0;
}

.Homee {
  background: #282c34;
  text-decoration-color: white;
  text-emphasis-color: white;
  min-height: 100vh;
  display: block;
  flex-direction: column;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: black;
}
.Footerr{
  display: inline-block;
  position: absolute;
  width: 100%;
}

.Background{
  background-color: #282c34;
  /*background-image: linear-gradient(to bottom, red, red 50%, white 50%);
  background-attachment:fixed;
  background-repeat: no-repeat;*/
}

body::before {
  height: 50%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #128ff2;
  content: "";
  z-index: 0;
}